--extra-index-url https://download.pytorch.org/whl/cu118

torch==2.2.1+cu118
torchvision==0.17.1+cu118
torchaudio==2.2.1+cu118

tqdm>=4.66.2
numpy==1.26.4
huggingface-hub>=0.35.3
opencv-python>=4.11
datasets>=4.2